In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import collections
from itertools import combinations

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1806,tt0175142,19000000,278019771,Scary Movie,Carmen Electra|Dave Sheridan|Anna Faris|Jon Ab...,Keenen Ivory Wayans,No mercy. No shame. No sequel.,Following on the heels of popular teen-scream ...,88,Comedy,Gold/Miller Productions|Wayans Bros. Entertain...,7/7/2000,5.9,2000
147,tt0831387,160000000,529076069,Godzilla,Aaron Taylor-Johnson|Ken Watanabe|Elizabeth Ol...,Gareth Edwards,A king's arrival is never silent.,Fifteen years after an 'incident' at a Japanes...,123,Action|Science Fiction|Thriller,Toho Company|Legendary Pictures|Warner Bros.|D...,5/14/2014,6.2,2014
902,tt0304669,65000000,172855065,The Santa Clause 2,Tim Allen|Elizabeth Mitchell|David Krumholtz|E...,Michael Lembeck,What's Christmas Fun without some Reindeer Games?,Better watch out! The big guy in red is coming...,104,Fantasy|Comedy|Family,Walt Disney Pictures,10/31/2002,5.4,2002
406,tt1279935,55000000,152263880,Date Night,Steve Carell|Tina Fey|Mark Wahlberg|Taraji P. ...,Shawn Levy,One ordinary couple. One little white lie.,The mild-mannered married couple Phil and Clai...,97,Comedy,Twentieth Century Fox Film Corporation|Dune En...,4/8/2010,5.9,2010
411,tt1386588,100000000,170432927,The Other Guys,Will Ferrell|Mark Wahlberg|Eva Mendes|Samuel L...,Adam McKay,When the cops are busy... Our only hope is...,NYPD detectives Christopher Danson (Johnson) a...,107,Action|Comedy|Crime,Columbia Pictures|Gary Sanchez Productions,8/6/2010,6.1,2010

In [8]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [3]:
answers = {} # создадим словарь для ответов

data['profit'] = data['revenue'] - data['budget']

#обработка колонки дата,выделение отдельно колонки месяц
data['release_date'] = pd.to_datetime(data['release_date'])
data['release_month'] = data['release_date'].dt.month 

# функция для подсчета элементов в колонках
def calculate_values(data):
    data_values = data.str.split('|', expand=False)
    c = collections.Counter()
    for l in data_values:
        for w in l:
            c[w] += 1
    return c.most_common()

# 1. У какого фильма из списка самый большой бюджет?

In [12]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides. (tt1298650)'

ВАРИАНТ 1

In [9]:
data[data['budget'] == data['budget'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

ВАРИАНТ 2

In [17]:
data[data['budget'] == data['budget'].max()][['imdb_id', 'original_title']]

       imdb_id                               original_title
723  tt1298650  Pirates of the Caribbean: On Stranger Tides

ВАРИАНТ 3

In [18]:
data.loc[data.budget == data.budget.max(),['original_title', 'imdb_id']].values[0]

array(['Pirates of the Caribbean: On Stranger Tides', 'tt1298650'],
      dtype=object)

# 2. Какой из фильмов самый длительный (в минутах)?

In [13]:
answers['2'] = 'Gods and Generals. (tt0279111)'

In [11]:
data[data['runtime'] == data['runtime'].max()][['imdb_id', 'original_title']]

        imdb_id     original_title
1157  tt0279111  Gods and Generals

# 3. Какой из фильмов самый короткий (в минутах)?

In [14]:
answers['3'] = 'Winnie the Pooh. (tt1449283)'

In [16]:
data[data['runtime'] == data['runtime'].min()][['imdb_id', 'original_title']]

       imdb_id   original_title
768  tt1449283  Winnie the Pooh

# 4. Какова средняя длительность фильмов?

In [15]:
answers['4'] = '110'

In [21]:
data['runtime'].mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [16]:
answers['5'] = '107'

In [22]:
data['runtime'].median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [17]:
answers['6'] = 'Avatar. (tt0499549)'

In [23]:
data[data['profit'] == data['profit'].max()][['imdb_id', 'original_title']]

       imdb_id original_title
239  tt0499549         Avatar

# 7. Какой фильм самый убыточный?

In [18]:
answers['7'] = 'The Lone Ranger. (tt1210819)'

In [25]:
data[data['profit'] == data['profit'].min()][['imdb_id', 'original_title',]]

        imdb_id   original_title
1245  tt1210819  The Lone Ranger

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [19]:
answers['8'] = '1478'

ВАРИАНТ 1

In [27]:
len(data.query('revenue > budget'))

1478

ВАРИАНТ 2

In [30]:
data[data['profit']>0].profit.count()

1478

ВАРИАНТ 3

In [29]:
len(data.query('profit > 0'))

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [20]:
answers['9'] = 'The Dark Knight. (tt0468569	)'

ВАРИАНТ 1

In [48]:
data1 = data.query('release_year == 2008')
data1.groupby(['revenue'])[['imdb_id', 'original_title']].max().sort_values(['revenue'],
                                                                           ascending=False).head(1)

              imdb_id   original_title
revenue
1001921825  tt0468569  The Dark Knight

ВАРИАНТ 2

In [49]:
data[data.release_year == 2008][['imdb_id', 'revenue', 'original_title',]].sort_values('revenue', 
                                                                    ascending = False). head(1)

       imdb_id     revenue   original_title
599  tt0468569  1001921825  The Dark Knight

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [21]:
answers['10'] = 'The Lone Ranger. (tt1210819)'

ВАРИАНТ 1

In [50]:
data1 = data.query('2012<=release_year<=2014')
data1.groupby(['profit'])[['imdb_id', 'original_title']].min().head(1)

              imdb_id   original_title
profit
-165710090  tt1210819  The Lone Ranger

ВАРИАНТ 2

In [53]:
data.loc[(data.release_year>=2012)&(data.release_year<=2014)].sort_values(['profit'],
                                            ascending = True)[['original_title','imdb_id',]].values[0]

array(['The Lone Ranger', 'tt1210819'], dtype=object)

# 11. Какого жанра фильмов больше всего?

In [22]:
answers['11'] = 'Drama'

ВАРИАНТ 1

In [67]:
data1 = data.genres.str.split('|', expand=False).sum()
Counter(data1).most_common()

[('Drama', 782),
 ('Comedy', 683),
 ('Thriller', 596),
 ('Action', 582),
 ('Adventure', 415),
 ('Crime', 315),
 ('Romance', 308),
 ('Family', 260),
 ('Science Fiction', 248),
 ('Fantasy', 222),
 ('Horror', 176),
 ('Mystery', 168),
 ('Animation', 139),
 ('Music', 64),
 ('History', 62),
 ('War', 58),
 ('Western', 19),
 ('Documentary', 8),
 ('Foreign', 2)]

ВАРИАНТ 2

In [65]:
data_list_genres = data.genres.str.split('|', expand=False)
c = collections.Counter()
for l in data_list_genres:
    for w in l:
        c[w] += 1
print(c)

Counter({'Drama': 782, 'Comedy': 683, 'Thriller': 596, 'Action': 582, 'Adventure': 415, 'Crime': 315, 'Romance': 308, 'Family': 260, 'Science Fiction': 248, 'Fantasy': 222, 'Horror': 176, 'Mystery': 168, 'Animation': 139, 'Music': 64, 'History': 62, 'War': 58, 'Western': 19, 'Documentary': 8, 'Foreign': 2})

ВАРИАНТ 3

In [69]:
calculate_values(data['genres'])

[('Drama', 782),
 ('Comedy', 683),
 ('Thriller', 596),
 ('Action', 582),
 ('Adventure', 415),
 ('Crime', 315),
 ('Romance', 308),
 ('Family', 260),
 ('Science Fiction', 248),
 ('Fantasy', 222),
 ('Horror', 176),
 ('Mystery', 168),
 ('Animation', 139),
 ('Music', 64),
 ('History', 62),
 ('War', 58),
 ('Western', 19),
 ('Documentary', 8),
 ('Foreign', 2)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [23]:
answers['12'] = 'Drama'

In [70]:
calculate_values(data[data.profit>0]['genres'])

[('Drama', 560),
 ('Comedy', 551),
 ('Thriller', 446),
 ('Action', 444),
 ('Adventure', 337),
 ('Romance', 242),
 ('Crime', 231),
 ('Family', 226),
 ('Science Fiction', 195),
 ('Fantasy', 188),
 ('Horror', 150),
 ('Animation', 120),
 ('Mystery', 119),
 ('Music', 47),
 ('History', 46),
 ('War', 41),
 ('Western', 12),
 ('Documentary', 7)]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [24]:
answers['13'] = 'Peter Jackson'

In [72]:
data.groupby(['director'])[['revenue']].sum().sort_values('revenue', ascending = False)

                      revenue
director
Peter Jackson      6490593685
Christopher Nolan  4167548502
David Yates        4154295625
Michael Bay        3886938960
J.J. Abrams        3579169916
...                       ...
David MichÃ´d         2295423
Steven Shainberg      2281089
Paul Schrader         2062066
Keanu Reeves          2054941
Simon Hunter          2033165

[957 rows x 1 columns]

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [25]:
answers['14'] = 'Robert Rodriguez'

In [74]:
data1 = data[data.genres.str.contains('Action')]
data2 = data1.director.str.split('|')
data3 = data2.explode('director')
data3.value_counts()

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Craig Mazin           1
Rob Letterman         1
Jay Russell           1
Jon Avnet             1
Chris Columbus        1
Name: director, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [26]:
answers['15'] = 'Chris Hemsworth'

In [83]:
data1 = data.query('release_year == 2012')
data2 = data1.groupby(['revenue'])[['cast']].max().sort_values(['revenue'],ascending=False)
data3 = data2.query('revenue == revenue.max()')
data4 = data3.cast.str.split('|')
data4.explode().value_counts()

Robert Downey Jr.     1
Chris Hemsworth       1
Mark Ruffalo          1
Scarlett Johansson    1
Chris Evans           1
Name: cast, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [27]:
answers['16'] = 'Matt Damon'

In [84]:
data_big_budget = data[data['budget'] > data['budget'].mean()]
data_big_budget.cast.str.split('|').explode().value_counts()

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Samuel L. Jackson    15
Tom Cruise           15
                     ..
Jillian Bell          1
Hilary Swank          1
Lombardo Boyar        1
Tracey Ullman         1
Ben Daniels           1
Name: cast, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [28]:
answers['17'] = 'Action'

In [76]:
Counter(data[data.cast.str.contains('Nicolas Cage')].genres.str.split('|').sum()).most_common(1)

[('Action', 17)]

# 18. Самый убыточный фильм от Paramount Pictures

In [29]:
answers['18'] = 'K-19: The Widowmaker. tt0267626'

In [81]:
data[data.production_companies.str.contains('Paramount Pictures')][['imdb_id', 'original_title', 
                                            'profit']].sort_values('profit', ascending = True).head(1)

       imdb_id        original_title    profit
925  tt0267626  K-19: The Widowmaker -64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [30]:
answers['19'] = '2015'

In [86]:
data.groupby(['release_year'])[['revenue']].sum().sort_values(['revenue'], ascending = False).head(2)

                  revenue
release_year
2015          25449202382
2014          23405862953

# 20. Какой самый прибыльный год для студии Warner Bros?

In [31]:
answers['20'] = '2014'

In [4]:
data1 = data[data.production_companies.str.contains('Warner Bros')]
data1.groupby('release_year')['profit'].sum().sort_values(ascending=False).head(1)

release_year
2014    2295464519
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [32]:
answers['21'] = '9 - сентябрь'

In [4]:
data.groupby(data['release_month'])['imdb_id'].count().sort_values(ascending = False)

release_month
9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: imdb_id, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [33]:
answers['22'] = '450'

In [7]:
data.query('release_month in ["6","7","8"] ')[['imdb_id']].count()

imdb_id    450
dtype: int64

# 23. Для какого режиссера зима – самое продуктивное время года?

In [34]:
answers['23'] = 'Peter Jackson'

In [9]:
data1 = data.query('release_month in ["12", "1", "2"]')[['director','imdb_id','release_month']]
data1.groupby(['director'])[['imdb_id']].count().sort_values(['imdb_id'], ascending=False).head(3)

                   imdb_id
director
Peter Jackson            7
Steven Soderbergh        6
Clint Eastwood           6

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [35]:
answers['24'] = 'Four By Two Productions'

In [11]:
data['title_lenght'] = data['original_title'].map(lambda x: len(x))
data.groupby('production_companies')['title_lenght'].max().sort_values(ascending=False).head(1)

production_companies
Twentieth Century Fox Film Corporation|Four By Two Productions    83
Name: title_lenght, dtype: int64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [36]:
answers['25'] ='Midnight Picture Show'

In [13]:
data['overview_lenght'] = data['overview'].map(lambda x: len(x))
data.groupby('production_companies')['overview_lenght'].max().sort_values(ascending=False).head(1)

production_companies
Lions Gate Films|Lakeshore Entertainment|GreeneStreet Films|Midnight Picture Show    1000
Name: overview_lenght, dtype: int64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [37]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave верно'

ВАРИАНТ 1

In [10]:
data.loc[data['vote_average']>data.quantile(0.99, numeric_only=True)['vote_average']]['original_title']

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

ВАРИАНТ 2

In [4]:
data1 = data[['original_title','vote_average']].sort_values('vote_average',ascending=False)
x = round(len(data1)/100)
data1.iloc[0:x]

                                     original_title  vote_average
599                                 The Dark Knight           8.1
118                                    Interstellar           8.0
125                              The Imitation Game           8.0
9                                        Inside Out           8.0
34                                             Room           8.0
1183                        The Wolf of Wall Street           7.9
128                                       Gone Girl           7.9
1191                               12 Years a Slave           7.9
119                         Guardians of the Galaxy           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1800                                        Memento           7.9
370                                       Inception           7.9
872                                     The Pianist           7.9
138                        The Grand Budapest Hotel           7.9
1188                                            Her           7.8
28                                        Spotlight           7.8
124                                      Big Hero 6           7.8
177                          The Fault in Our Stars           7.8
863           The Lord of the Rings: The Two Towers           7.8

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [38]:
answers['27'] = 'Daniel Radcliffe Rupert Grint'

In [6]:
data_actor = data.cast.str.split('|').tolist()
group_actor = []
for actor in data_actor:
    for j in combinations(actor, 2):
        group_actor.append(' '.join(j))
group_actor = pd.DataFrame(group_actor)        
group_actor.columns = ['actor_combinations']
group_actor.actor_combinations.value_counts().head(5)

Daniel Radcliffe Rupert Grint       8
Daniel Radcliffe Emma Watson        8
Rupert Grint Emma Watson            7
Johnny Depp Helena Bonham Carter    6
Ben Stiller Owen Wilson             6
Name: actor_combinations, dtype: int64

# Submission

In [40]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'27': 'Daniel Radcliffe Rupert Grint',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave верно',
 '1': 'Pirates of the Caribbean: On Stranger Tides. (tt1298650)',
 '2': 'Gods and Generals. (tt0279111)',
 '3': 'Winnie the Pooh. (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar. (tt0499549)',
 '7': 'The Lone Ranger. (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight. (tt0468569\t)',
 '10': 'The Lone Ranger. (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker. tt0267626',
 '19': '2015',
 '20': '2014',
 '21': '9 - сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show'}

In [41]:
# и убедиться что ни чего не пропустил)
len(answers)

27